table,thead,tbody,th,td{
border: 1px black solid; 
/* border between each cell each cell has its seperate border */
}

table {
	border-spacing: 10px 10px;
    width: 100%;
    border-collapse: collapse;
    /* two cells share common border */
}
th,td{
    height: 30px;
    padding: 10px;
    /* border-bottom: 1px solid black; */
}

th {
	/* text-align: left; */
    text-align: center;
    background-color: grey;
    color:white
}

td {
    	text-align: center;
}

tbody:hover{
    background-color: lightgrey;
}

.input-search_tabledata{

	color:black;
	padding:1% 5% 1% 2%;
	margin-left:40%;
	border-radius:12px;
	align-self:center;

}